<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Supervisor Panel</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
body { font-family: Arial; background:#f2f2f2; margin:0; }
header { padding:20px; text-align:center; font-size:24px; color:#b00; background:#fff; }
.card {
    background:#1f2933; color:white; padding:15px;
    margin:15px auto; width:85%; max-width:320px;
    border-radius:15px; text-align:center; cursor:pointer;
}
.card:hover { background:#374151; }
</style>
</head>

<body>

<header>SUPERVISOR PANEL</header>

<div class="card" onclick="location.href='track.html'">Track Deliveries</div>
<div class="card" onclick="location.href='update.html'">Update Deliveries</div>
<div class="card" onclick="location.href='geo.html'">Geo-Tag Uploads</div>
<div class="card" onclick="location.href='eta.html'">ETA Updation</div>
<div class="card" onclick="location.href='leftovers.html'">Upload Leftovers</div>

</body>
</html>
